.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 10rem;
  height: 3rem;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  color: #fff;

  >li {
    cursor: pointer;

    &:hover {
      color: var(--orange);
    }
  }

}
